@import './base.css';
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
#app { max-width: none; padding: 0;height: 100%; overflow: hidden;}
html, body { height: 100%;overflow-x: hidden; }
body { overflow: hidden; background: #064e3b; }
